<!DOCTYPE html>
<html>

<head>

    <title>Movie Recommendation System</title>
    <button id="theme-toggle">

    🌙 Toggle Theme

</button>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Smart Movie Recommendation System</h1>

    <p>Find movies based on your interests</p>

    <form method="POST" onsubmit="showLoader()">

        <div class="search-box">

    <input
        type="text"
        id="movieInput"
        name="movie"
        placeholder="Search movies like Inception, Batman..."
        autocomplete="off"
        
    >
 

    <div id="suggestions"></div>

</div>

        <select name="mood">

    <option value="">Select Mood</option>

    <option value="Comedy">Happy</option>

    <option value="Romance">Romantic</option>

    <option value="Drama">Emotional</option>

    <option value="Family">Relaxed</option>

    <option value="Action">Excited</option>

    <option value="Animation">Feel Good</option>

</select>

        <button type="submit">Recommend</button>

    </form>
    <div id="loader" style="display:none;">

    <div class="spinner"></div>

    <p>Loading recommendations...</p>

</div>
    {% if error %}

<div class="error-message">
    {{ error }}
</div>

{% endif %}
    {% if not recommendations %}

<h2 class="trending-title">

    🔥 Trending Movies

</h2>

<div class="movie-container">

    {% for movie in default_movies %}

    <div class="movie-card">

        <img src="{{ movie.poster }}" alt="Poster">

        <h2>{{ movie.title }}</h2>

        <p class="rating
{% if movie.rating != 'N/A' %}
    {% if movie.rating|float >= 8 %}
        rating-high
    {% elif movie.rating|float >= 6 %}
        rating-medium
    {% else %}
        rating-low
    {% endif %}
{% endif %}
">

⭐ IMDb: {{ movie.rating }}

</p>
        <p class="explanation">

    {{ movie.explanation }}

</p>

        <a
            href="https://www.youtube.com/results?search_query={{ movie.title }}+official+trailer"
            target="_blank"
            class="trailer-btn"
        >
            ▶ Watch Trailer
        </a>

    </div>

    {% endfor %}

</div>

{% endif %}
    <div class="movie-container">

        {% for movie in recommendations %}

        <div class="movie-card">

            <img src="{{ movie.poster }}" alt="Poster">

            <h2>{{ movie.title }}</h2>

            <p class="rating
{% if movie.rating != 'N/A' %}
    {% if movie.rating|float >= 8 %}
        rating-high
    {% elif movie.rating|float >= 6 %}
        rating-medium
    {% else %}
        rating-low
    {% endif %}
{% endif %}
">

⭐ IMDb: {{ movie.rating }}

</p>
            <p class="explanation">

    {{ movie.explanation }}

</p>
<a
    href="https://www.youtube.com/results?search_query={{ movie.title }}+official+trailer"
    target="_blank"
    class="trailer-btn"
>

    ▶ Watch Trailer

</a>
<button
    class="favorite-btn"
    onclick="addToFavorites('{{ movie.title }}')"
>

    ❤️ Add to Favorites

</button>
        </div>

        {% endfor %}

    </div>
   <h2 class="favorites-title">

    ❤️ Favorite Movies

</h2>

<div id="favorites-container" class="movie-container">

</div>
 <footer>

    Built using Flask, Python, Machine Learning & OMDb API

    </footer>
<script>

function showLoader() {

    document.getElementById("loader").style.display = "block";

}

const movieInput = document.getElementById("movieInput");

const suggestionsBox = document.getElementById("suggestions");

movieInput.addEventListener("input", async () => {

    const query = movieInput.value;

    if (query.length < 2) {

        suggestionsBox.innerHTML = "";

        return;
    }

    const response = await fetch(`/suggest?q=${query}`);

    const suggestions = await response.json();

    suggestionsBox.innerHTML = "";

    suggestions.forEach(movie => {

        const div = document.createElement("div");

        div.classList.add("suggestion-item");

        div.innerText = movie;

        div.onclick = () => {

            movieInput.value = movie;

            suggestionsBox.innerHTML = "";

        };

        suggestionsBox.appendChild(div);

    });

});

function addToFavorites(movieTitle) {

    let favorites =
        JSON.parse(localStorage.getItem("favorites")) || [];

    if (!favorites.includes(movieTitle)) {

        favorites.push(movieTitle);

        localStorage.setItem(
            "favorites",
            JSON.stringify(favorites)
        );


themeToggle.addEventListener("click", () => {

    document.body.classList.toggle("light-mode");

    if (
        document.body.classList.contains("light-mode")
    ) {

        localStorage.setItem("theme", "light");

    } else {

        localStorage.setItem("theme", "dark");

    }

});

if (localStorage.getItem("theme") === "light") {

    document.body.classList.add("light-mode");

}
        displayFavorites();
    }
}

function displayFavorites() {

    const container =
        document.getElementById("favorites-container");

    container.innerHTML = "";

    let favorites =
        JSON.parse(localStorage.getItem("favorites")) || [];

    favorites.forEach(movie => {

        const div = document.createElement("div");

        div.classList.add("movie-card");

        div.innerHTML = `
            <h2>${movie}</h2>
        `;

        container.appendChild(div);

    });
}

displayFavorites();
document
    .getElementById("theme-toggle")
    .onclick = function () {

    document.body.classList.toggle("light-mode");

};

</script>
</body>

</html> 