<!DOCTYPE html>
<html>

<head>

    <title>Movie Recommendation System</title>
    

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <button id="theme-toggle">

    🌙 Toggle Theme

</button>

    <h1>Smart Movie Recommendation System</h1>

    <p>Find movies based on your interests</p>

    <form method="POST" onsubmit="showLoader()">

        <div class="search-box">

    <input
        type="text"
        id="movieInput"
        name="movie"
        placeholder="Search movies like Inception, Batman..."
        autocomplete="off"
        
    >
 

    <div id="suggestions"></div>

</div>

        <select name="mood">

    <option value="">Select Mood</option>

    <option value="Comedy">Happy</option>

    <option value="Romance">Romantic</option>

    <option value="Drama">Emotional</option>

    <option value="Family">Relaxed</option>

    <option value="Action">Excited</option>

    <option value="Animation">Feel Good</option>

</select>

        <button type="submit">Recommend</button>
        <a href="/" class="home-btn">

    🏠 Home

</a>

    </form>
    <div id="search-history">

</div>

    <div id="loader" style="display:none;">

    <div class="spinner"></div>

    <p>Loading recommendations...</p>

</div>
    {% if error %}

<div class="error-message">
    {{ error }}
</div>

{% endif %}
    {% if not recommendations %}

<h2 class="trending-title">

    🔥 Trending Movies

</h2>

<div class="movie-container">

    {% for movie in default_movies %}

    <div class="movie-card">

        <img
    src="{{ movie.poster }}"
    alt="Poster"
    onerror="this.onerror=null; this.src='https://placehold.co/300x450?text=No+Image';"
>

        <h2>{{ movie.title }}</h2>

        <p class="rating
{% if movie.rating != 'N/A' %}
    {% if movie.rating|float >= 8 %}
        rating-high
    {% elif movie.rating|float >= 6 %}
        rating-medium
    {% else %}
        rating-low
    {% endif %}
{% endif %}
">

⭐ IMDb: {{ movie.rating }}

</p>
        <div class="genre-container">

    {% for genre in movie.genres %}

        <span class="genre-badge">

            {{ genre }}

        </span>

    {% endfor %}

</div>

<p class="explanation">
    

    {{ movie.explanation }}

</p>

        <a
            href="https://www.youtube.com/results?search_query={{ movie.title }}+official+trailer"
            target="_blank"
            class="trailer-btn"
        >
            ▶ Watch Trailer
        </a>
        <button
    class="favorite-btn"
    onclick="addToFavorites(
        '{{ movie.title }}',
        '{{ movie.poster }}',
        '{{ movie.rating }}'
    )"
>

    ❤️ Add to Favorites

</button>

    </div>

    {% endfor %}

</div>

{% endif %}
    <div class="movie-container">

        {% for movie in recommendations %}

        <div class="movie-card">

            <img
    src="{{ movie.poster }}"
    alt="Poster"
    onerror="this.onerror=null; this.src='https://placehold.co/300x450?text=No+Image';"
>

            <h2>{{ movie.title }}</h2>

            <p class="rating
{% if movie.rating != 'N/A' %}
    {% if movie.rating|float >= 8 %}
        rating-high
    {% elif movie.rating|float >= 6 %}
        rating-medium
    {% else %}
        rating-low
    {% endif %}
{% endif %}
">

⭐ IMDb: {{ movie.rating }}

</p>
           <div class="genre-container">

    {% for genre in movie.genres %}

        <span class="genre-badge">

            {{ genre }}

        </span>

    {% endfor %}

</div>

<p class="explanation">
    

    {{ movie.explanation }}

</p>
<a
    href="https://www.youtube.com/results?search_query={{ movie.title }}+official+trailer"
    target="_blank"
    class="trailer-btn"
>

    ▶ Watch Trailer

</a>

<button
    class="favorite-btn"
    onclick="addToFavorites(
        '{{ movie.title }}',
        '{{ movie.poster }}',
        '{{ movie.rating }}'
    )"
>

    ❤️ Add to Favorites

</button>

        </div>

        {% endfor %}

    </div>
  
<h2 class="favorites-title">

    ❤️ Favorite Movies

</h2>

<div
    id="favorites-container"
    class="movie-container"
>

</div>


 <footer>

    Built using Flask, Python, Machine Learning & TMDB API

    </footer>
<script>

function showLoader() {

    document.getElementById("loader").style.display = "block";

}

const movieInput =
    document.getElementById("movieInput");

const suggestionsBox =
    document.getElementById("suggestions");

movieInput.addEventListener("input", async () => {

    const query = movieInput.value;

    if (query.length < 2) {

        suggestionsBox.innerHTML = "";

        return;

    }

    const response =
        await fetch(`/suggest?q=${query}`);

    const suggestions =
        await response.json();

    suggestionsBox.innerHTML = "";

    suggestions.forEach(movie => {

        const div =
            document.createElement("div");

        div.classList.add("suggestion-item");

        div.innerText = movie;

        div.onclick = () => {

            movieInput.value = movie;

            suggestionsBox.innerHTML = "";

        };

        suggestionsBox.appendChild(div);

    });

});


function showToast(message) {

    const toast =
        document.getElementById("toast");

    toast.innerText = message;

    toast.classList.add("show");

    setTimeout(() => {

        toast.classList.remove("show");

    }, 2000);

}


function addToFavorites(title, poster, rating) {

    let favorites =
        JSON.parse(localStorage.getItem("favorites"))
        || [];

    const exists =
        favorites.some(movie => movie.title === title);

    if (!exists) {

        favorites.push({

            title,
            poster,
            rating

        });

        localStorage.setItem(
            "favorites",
            JSON.stringify(favorites)
        );

        displayFavorites();

        showToast("Added to Favorites ❤️");

    }

}


function displayFavorites() {

    const container =
        document.getElementById("favorites-container");

    container.innerHTML = "";

    let favorites =
        JSON.parse(localStorage.getItem("favorites"))
        || [];

    favorites.forEach(movie => {

        const div =
            document.createElement("div");

        div.classList.add("movie-card");

        div.innerHTML = `

    <img src="${movie.poster}" alt="Poster">

    <h2>${movie.title}</h2>

    <p class="rating">

        ⭐ IMDb: ${movie.rating}

    </p>

    <button
        class="remove-btn"
        onclick='removeFavorite(${JSON.stringify(movie.title)})'
    >

        ❌ Remove

    </button>

`;

        container.appendChild(div);

    });

}
function removeFavorite(title) {

    let favorites =
        JSON.parse(localStorage.getItem("favorites"))
        || [];

    favorites = favorites.filter(
        movie => movie.title !== title
    );

    localStorage.setItem(
        "favorites",
        JSON.stringify(favorites)
    );

    showToast("Removed from Favorites ❌");

    displayFavorites();

}
displayFavorites();


document
    .getElementById("theme-toggle")
    .onclick = function () {

    document.body.classList.toggle("light-mode");

};
const historyContainer =
    document.getElementById("search-history");

function loadSearchHistory() {

    let searches =
        JSON.parse(
            localStorage.getItem("searchHistory")
        ) || [];

    historyContainer.innerHTML = "";

    searches.forEach(movie => {

        const item =
            document.createElement("div");

        item.classList.add("history-item");

        item.innerText = movie;

        item.onclick = () => {

            movieInput.value = movie;

        };

        historyContainer.appendChild(item);

    });

}

document.querySelector("form")
.addEventListener("submit", () => {

    const movie =
        movieInput.value.trim();

    if (!movie) return;

    let searches =
        JSON.parse(
            localStorage.getItem("searchHistory")
        ) || [];

    searches = searches.filter(
        item => item !== movie
    );

    searches.unshift(movie);

    searches = searches.slice(0, 5);

    localStorage.setItem(
        "searchHistory",
        JSON.stringify(searches)
    );

});

loadSearchHistory();
</script>
<div id="toast">

    Added to Favorites ❤️

</div>
</body>

</html> 